/* css styles */

/*

.navbar {
  background-image: url(images/dots.png);
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: center center;*/
  /*background-attachment: fixed;*/
}

*/

