/* css styles */

/*

.navbar {
  background-image: url(images/dots.png);
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: center center;*/
  /*background-attachment: fixed;*/
}

*/

/* css styles */
:root {
  --bs-body-bg: #fdf6e3;
  --bs-body-color: #495057;
}

.navbar, .quarto-title-banner {
  background: #eee8d5;
  color: var(--bs-body-color);
}



